.Rhistory
.RData
.Ruserdata
.Rproj.user/
results/*
!results/.gitkeep
# ignore the reference database so it does not get updated into the github
tax4fun2/Tax4Fun2_ReferenceData_v2/KEGG/prokaryotes.dmnd